.nav-container {
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(240, 5%, 8%);
  width: 100%;
}

.nav-container h1 {
  margin-left: 1rem;
  color: #7a3af4;
  /* margin-top: 50px; */
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
}
