.container {
  background-color: hsl(240, 5%, 8%);
  padding-bottom: 100px;
}

.container h1 {
  text-align: center;
  padding: 40px 0 60px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.trending-cards-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

@media (max-width: 1461px) {
  .trending-card-container {
    max-width: 240px;
  }

  .card-value {
    font-size: 1.4rem;
  }
}

@media (max-width: 1200px) {
  .trending-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .trending-card-container {
    margin: 20px 0;
    max-width: 300px;
  }

  .card-value {
    font-size: 2rem;
  }
}

@media (max-width: 686px) {
  .trending-card-container {
    max-width: 230px;
  }

  .card-value {
    font-size: 1.4rem;
  }
}

@media (max-width: 508px) {
  .trending-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .trending-card-container {
    max-width: 250px;
  }
}
